@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  background-color: #37080a;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  color: #ffffff;
}